body{
    margin:0;
    background-color: #FFF94F;
}
h1{
    font-family: "Optima", serif;
    font-size: 54px;
    text-align: center;
    color:#0D1821;
}
h2{
    font-family: "Optima" serif;
    font-size:50px;
    text-align:left;
    color:#D90368;
}
h3{
    font-family:"Optima" serif;
    font-size:25px;
    text-align:left;
    color:#B5FFE9;
}
p{
    font-family: "Optima" serif;
    font-size:54px;
    text-align:center;
    color:#00A7E1;
}
u{
    font-family:"Optima"serif;
    text-align:center;
    font-size:54px;
    color:#FF9B42;
}
